<!DOCTYPE html>
<html>
    <head>
        <title>THE DIARY OF A CEO</title>
    </head>
    <body style= "color:red;">
        <h1>laws of business</h1>
        <hr>
        <p>
            <em>I've been the CEO, founder, co-founder or board member of four industry-leading companies that collectively - at their peaks - 
            reached a cumulative valuation of more than $1 billion.</em> -------- (em: Emphasize) <br> <strong>i'm currently the founder of 
            flight story, an innovative marketing agency; thirdweb, a software company; and an investment for my companies.</strong> ---------- (strong: Bold) <br>
            <ins>i'm an investor in more than 40 companies.</ins> ---------- (ins: Underline) <br> <mark>i'm on the board of four companies,</mark> ---------- (mark: Highlights) <br> 
            <cite>two of which are currently at</cite> ---------- (cite: Defines work title) <br> <q>the forefront of their respective industries,</q> ---------- (q: Short quotation) <br>
            <s>and i'm 30 years old.</s> ---------- (s: Defines incorrect text) <br> <sup>being the founder of two successful marketing groups</sup> ---------- (sup: Superscript) <br> 
            <var>that have risen to the top of their industry,</var> ---------- (var: Defines a variable) <br> <code>within their market,</code> ---------- (code: Displays text in a monospace font) <br>
            <pre>has meant that i spend much of my professional life ---------- (pre: Preserves spacing and formatting)</pre> <br> in boardrooms <br>
            <kbd>working with and advising the CEOs,</kbd> ---------- (kbd: Indicates keyboard input) <br> CMOs and leaders of the biggest brands
            in the world on how to do marketing and how to tell their story online; <br> <sub>Uber, Apple, Coca-cola, Nike, Amazon, TikTok, Logitech,</sub> ---------- (sub: Subscript) <br> 
            you name it - they have been my clients. <br> 
            <meter> </meter> ---------- (meter: Indicates scalar measurement) <br>
            <progress> </progress> ---------- (Progress: Defines task progress) <br> 
            <input> ---------- (input: Input control) <br> 
            <textarea> </textarea> ---------- (textarea: Multi-line text input field) <br>
            <button> </button> ---------- (button: Clickable button) <br> 
            <select> </select> ---------- (select: Drop-down list) <br>
            <fieldset> </fieldset> ---------- (fieldset: Groups related elements within a form) <br> 
            <input type="checkbox"> ---------- (checkbox: Allows multiple selections from a group of options) <br> 
            <input type="radio"> ---------- (radio: Allows a single selection from a group of options) <br>
            <input type="submit"> ---------- (submit: Submits the form to the server)
        </p>
    </body>
</html>