<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tindog</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <section id="title" class="colored-section">
            <div class="top-container">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">tindog</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span></button> 
                
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Species</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Orders</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" 
                                data-bs-toggle="dropdown" aria-expanded="false">More</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Services</a></li>
                                    <li><a class="dropdown-item" href="#">About</a></li>
                                    <li><a class="dropdown-item" href="#footer">Contact</a></li>
                                </ul>
                            </li>
                            <form role="search"> <input class="form-control" type="search"
                                placeholder="Search" aria-label="Search">
                            </form>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="row">
                <div class="col-lg-6" id="top-text">
                    <h1>Tinder but for dogs.</h1>
                    <h2>Meet new and interesting dogs nearby</h2>
                    <button type="button" class="btn btn-dark btn-lg download-button">
                        <i class="la-google-play lab"></i> Download
                    </button>
                    <button type="button" class="btn btn-lg btn-outline-light download-button">
                        <i class="bi bi-apple"></i> Download
                    </button>
                </div>
                <div class="col-lg-6">
                    <img class="title-image" src="images/iphone-x.png" alt="iphone-mockup">
                </div>
            </div>
        </section>

        <div class="middle-container motion">
            <div id="features" class="white-section">
                <div class="row">
                    <div class="col-lg-4 feature-card">
                        <i class="feature-icon la-4x la-check-circle las"></i>
                        <h3>Easy to use</h3>
                        <p>So easy to use, even your dog could do it</p>
                    </div>
                    <div class="col-lg-4 feature-card">
                        <i class="feature-icon la-4x la-bullseye las"></i>
                        <h3>Elite Clientele</h3>
                        <p>We have all the dogs, the greatest dogs</p>
                    </div>
                    <div class="col-lg-4 feature-card">
                        <i class="feature-icon la-4x la-heart las"></i>
                        <h3>Guaranteed to work</h3>
                        <p>Find the love of your dog's life or your money back</p>
                    </div>
                </div>
            </div>
        </div>

        <section id="testimonials">
            <div id="testimonial-carousel" class="carousel slide" data-ride="false">
                <div class="carousel-inner"> 
                    <div class="carousel-item motion">
                        <h2> Now my dog no longer have to sniff other dogs for love. he found the hottest Corgi on TinDog UwU </h2>
                        <div class="test-flex">
                            <img class="testimonial-image" src="/Asim.6e78cb50.webp" alt="asim-profile"> <em class="testimonial-name">Asim, Hooghly</em>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <h2 class="testimonial-text"> My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think. </h2>
                        <div class="test-flex">
                            <img class="testimonial-image" src="/Shaheli_Paul.4ea361ef.webp" alt="shaheli-profile"> <em class="testimonial-name">Shaheli, North 24 Pgs.</em>
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <h2> Through TinDog my dog found her life partner. I'm so happy for her. Thank You TinDog.</h2>
                        <div class="test-flex">
                            <img class="testimonial-image" src="/Bikram_Bakshi.7d69800d.webp" alt="bikram-profile"> <em class="testimonial-name">Bikram, West Bengal</em>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span></a>
                <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span></a>
            </div>
        </section>  
        
        <section class="colored-section" id="press">
            <img class="press-logo" src="images/tnw.png" alt="tnw-logo">
            <img class="press-logo" src="images/bizinsider.png" alt="biz-insider-logo">
            <img class="press-logo" src="images/mashable.png" alt="mashable-logo">
        </section>

        <section class="white-section" id="pricing">
            <h2 class="section-heading">A Plan for Every Dog's Needs</h2>
            <p>Simple and affordable price plans for your and your dog.</p>

            <div class="row">
                <div class="pricing-column col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>Chihuahua</h3>
                        </div>
                        <div class="card-body">
                            <h2 class="price-text">Free</h2>
                            <p>5 Matches Per Day</p>
                            <p>10 Messages Per Day</p>
                            <p>Unlimited App Usage</p>
                            <button class="btn btn-lg btn-block btn-outline-dark" type="button">Sign Up</button>
                        </div>
                    </div>
                </div>
                <div class="pricing-column col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>Labrador</h3>
                        </div>
                        <div class="card-body">
                            <h2 class="price-text">$49 / mo</h2>
                            <p>Unlimited Matches</p>
                            <p>Unlimited Messages</p>
                            <p>Unlimited App Usage</p>
                            <button class="btn btn-lg btn-block btn-dark" type="button">Sign Up</button>
                        </div>
                    </div>
                </div>
                <div class="pricing-column col-lg-4">
                    <div class="card">
                        <div class="card-header">
                         <h3>Mastiff</h3>
                        </div>
                        <div class="card-body">
                            <h2 class="price-text">$99 / mo</h2>
                            <p>Pirority Listing</p>
                            <p>Unlimited Matches</p>
                            <p>Unlimited Messages</p>
                            <p>Unlimited App Usage</p>
                            <button class="btn btn-lg btn-block btn-dark" type="button">Sign Up</button>
                        </div>
                    </div>
                </div>      
            </div>
        </section>
        
        <section class="colored-section" id="cta">
            <h3 class="top">Find the True Love of Your Dog's Life Today.</h3>
            <button type="button" class="btn btn-dark btn-lg download-button"><svg class="svg-inline--fa fa-apple fa-w-12" aria-hidden="true" data-prefix="fab" data-icon="apple" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 512"><path fill="currentColor" d="M314.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C59.3 141.2 0 184.8 0 273.5c0 26.2 4.8 53.3 14.4 81.2 12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z"></path></svg><!-- <i class="fab fa-apple"></i> -->Download</button>
            <button type="button" class="btn btn-light btn-lg download-button"><svg class="svg-inline--fa fa-google-play fa-w-16" aria-hidden="true" data-prefix="fab" data-icon="google-play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 512"><path d="M325.3 234.3L104.6 13l280.8 161.2-60.1 60.1zM47 0C34 6.8 25.3 19.2 25.3 35.3v441.3c0 16.1 8.7 28.5 21.7 35.3l256.6-256L47 0zm425.2 225.6l-58.9-34.1-65.7 64.5 65.7 64.5 60.1-34.1c18-14.3 18-46.5-1.2-60.8zM104.6 499l280.8-161.2-60.1-60.1L104.6 499z"></path></svg>Download</button>
        </section>

        <div class="bottom-container motion">
            <footer class="white-section" id="footer">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-regular fa-envelope"></i>
                <p> @anishmoktan | @appbrewery</p>
            </footer>
        </div>
    </body>
</html>